
@media (min-width: 1280px) and (max-width: 1700px) {


	.banner-slick.banner-content h2 {
		width: 52%;
	}
    .section-title h2 {
    	font-size: 30px;
    }
	.em-slick-slider-new .banner-content {
		left: 14%;
	}
	.banner-content {
		width: 100%;
	}
	.single-video {
		position: relative;
		text-align: center;
		margin-left: 115px;
	}
	.slick-style-two .slider_single_img {
		right: 1%;
	}
    .payloan_menu > ul > li > a {
    	margin: 30px 9px;
    }
	.about_choose_us {
		background: #2d2d2d;
		padding: 41px 50px 0px 178px !important;
	}
	#team::before {
		right: inherit;
		z-index: -1;
		left: -10px;
		bottom: 0 !important;
		top: inherit;
	}
.text-center .banner-slick.banner-content h2 {
    	width: 100%;
    }
.trp_nav_area {
	padding: 0 50px;
}
.slider-style-eight .slider_single_img {
	position: absolute;
	right: 0%;
}
 .banner-slick.banner-content.banner-content p {
	width: 45%;
}  	
    .home-new .slider-single-image img {
        display: block !important;
        width: 74% !important;
    }
    .home-new .slider-single-image {
        bottom: 170px !important;
        right: -8% !important;
    }    
}
@media (min-width: 1280px) and (max-width: 1439px) {
     .em-nivo-slider-wrapper .nivo-directionNav {
         display: none;
    }
	.banner-content {
		width: 100%;
	}
	.single-video {
		position: relative;
		text-align: center;
		margin-left: 115px;
	}
	.slick-style-two .slider_single_img {
		right: 1%;
	}
	.slick-style-two .slider_single_img img {
		width: 69%;
	}
	a.dtbtn {
		padding: 13px 26px;
	}
	.slick-style-two .slider_single_img {
		right: -16%;
		top: 282px;
	}
	.slider_circle_img.rotateme {
		right: -220px;
		top: 0;
	}
.text-center .banner-slick.banner-content h2 {
    	width: 100%;
    }
    
    .home-new .slider-single-image img {
        display: block !important;
        width: 74% !important;
    }
    .home-new .slider-single-image {
        bottom: 170px !important;
        right: -8% !important;
    }    
        
    
    

}
/* ------------------------------------------------- Laptop Screen ---------------------------------------------------*/
 @media (min-width: 1170px) and (max-width: 1366px) {
 
	/* Nivo Slider */
	.nivo-caption{
		margin-bottom: 50px;
	}
	/* End Nivo Slider */
	 .banner-content p {
         width: 70%;
    }
	.banner-slick.banner-content.banner-content p {
		width: 50%;
	}
    .donate-btn-header {
    	margin-left: 8px;
    }
    .em-slider-descript {
    	width: 65%;
    }
.slider-style-eight .slider_single_img img {
	width: 49%;
	opacity: 1;
}
.slider-style-eight .slider_single_img {
	position: absolute;
	top: -39px;
	right: -26%;
}
a.dtbtn {
	padding: 11px 15px;
	font-size: 13px;
	margin-top: 5px;
}
    .tr-btn-search .trp_nav_area {
    	padding: 0 20px;
    }
	.payloan-blog-meta-left a, .payloan-blog-meta-left span {
		font-size: 14px;
	}
	.blog-page-title > h2 {
		font-size: 20px;
	}
	.banner-slick.banner-content h2 {
		width: 68%;
	}
    .text-center .banner-slick.banner-content h2 {
    	width: 100%;
    }
	.em-slick-slider-new .banner-content {
		left: 10%;
	}
    .payloan_menu > ul > li > a {
    	margin: 30px 6px;
    }
	.banner-content {
		width: 100%;
	}
	.em_single_testimonial {
		margin-top: 40px;
	}
	.footer-middle .recent-post-text h4 a {
		font-size: 16px;
	}
	.footer-middle .recent-post-text .rcomment {
		font-size: 11px;
	}
	.single-video {
		margin-left: 0;
	}
	.single-video .layer-2 {
		top: -43% !important;
		left: 57% !important;
	}
	.single-video .layer-4 {
		/* top: 78% !important; */
		right: 11px;
	}
	.single-video .layer-3 {
		left: -7% !important;
	}
	.single-video .layer-1 {
		top: -30% !important;
		left: -59px !important;
	}
	.slick-style-two .slider_single_img {
		right: -16%;
		top: 282px;
	}
	.slick-style-two .slider_single_img img {
		width: 69%;
	}
	.slider_circle_img.rotateme {
		right: -220px;
		top: 0;
	}
	.about_choose_us {
		background: #2d2d2d;
		padding: 41px 50px 0px 76px !important;
	}
	#team::before {
		right: inherit;
		z-index: -1;
		left: -10px;
		bottom: 0 !important;
		top: inherit;
	}
	.section-title h2 {
		font-size: 39px;
	}
    .em-slick-slider-new .slick-prev {
    	left: 7px;
    }
    .em-slick-slider-new .slick-next {
    	right: 7px;
    }
    .banner-slick.banner-content h1,
    .banner-slick.banner-content h3 {
    	font-size: 60px;
    }
    .portfolio_info {
    	padding-top: 0;
    }
	.effective-content p {
		width: 86% !important;
	}
    .home-new .slider-single-image img {
        display: none !important;
    }
	.years-of-experience.style-two {
		right: 36px !important;
	}

}
/* ------------------------------------------------- Old Desktop :992 ---------------------------------------------------*/
 @media (min-width: 992px) and (max-width: 1169px) {

	/* Nivo Slider */
	.em-slider-sub-title {
		font-size: 90px !important;
	}
	.em-slider-descript {
		width: 65% !important;
	}
	.nivo-caption{
		margin-bottom: 50px;
	}
	.hero-section {
		height: 600px !important;
		position: relative;
	}	
	/* Call To Action */
	.call-to-action .call-to-action-title h2{
		width: 58% !important;
	}
	.years-of-experience.style-two {
		right: 36px !important;
	}	
	.feature-box.style-seven .feature-box-title h2 {
		font-size: 19px !important;
	}
	/* Counter */
	.single_counter .counter_title{
        overflow: hidden;
    }
    .single_counter .countr_text h1,
    .single_counter .countr_text h3{
        font-size: 30px !important;
    }
    /* End Counter */
	
.slider-style-eight .slider_single_img img {
	width: 49%;
	opacity: 1;
}
.slider-style-eight .slider_single_img {
	position: absolute;
	top: -39px;
	right: -52%;
}
.trp_nav_area {
	padding: 0 50px;
}

	.slider_circle_img.rotateme {
		right: -220px;
		top: 0;
	}
.section-title h2 {
	font-size: 25px;
}
.tr-btn-search .donate-btn-header {
	margin-top: 0px;
	display: none;
}
.style-three .countr_text > h1 {
	font-size: 30px;
}
.countr_text > h3 {
	font-size: 30px;
}
.em-slick-slider-new .slider-style-seven .banner-content {
	top: 50%;
}
.slider-style-seven .slider-video-icon {
	top: 50%;
	right: 10%;
}
    .portfolio_info {
    	padding-left: 30px;
    	padding-top: 0;
    }
	.single_protfolio:hover .prot_content {
		bottom: 18px;
	}
    .tr-btn-search .trp_nav_area {
    	padding: 0 20px;
    }
	.price_item span {
		font-size: 45px;
	}
     .menu-height-space {
         height: 0;
    }
	.slick-style-two .slider_single_img {
		position: absolute;
		top: 222px;
		right: -19%;
		z-index: 999;
	}
	.slick-style-two .slider_single_img img {
		width: 73%;
		opacity: 1;
	}
     .em-nivo-slider-wrapper:hover .nivo-directionNav a {
         left: 5px;
    }
     .em-nivo-slider-wrapper:hover .nivo-directionNav .nivo-nextNav {
         left: auto;
         right: 5px;
    }
     .em-nivo-slider-wrapper .nivo-directionNav {
         display: none;
    }
     .curosel-style .owl-nav div {
         left: 15px;
    }
     .curosel-style .owl-nav .owl-next {
         left: auto;
         right: 15px;
    }
	.banner-content p {
		width: 58%;
	}	
	.style_two .em_content_text h2 {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 27px;
	}
	.banner-content p {
		width: 96%;
	}
	.em_slider_inner {
		left: 0;
		right: 0;
	}
	.em-blog-content-area_adn {
		padding: 26px 13px 34px;
	}
	.style_three .em_content_text h2 {
		font-size: 25px;
	}			
	.em-nivo-slider-wrapper .nivo-controlNav {
		display: none;
	}
	.em_content_text h2 {
		font-size: 17px !important;
	}
	.em-service2 .em-service-title h2 {
		font-size: 18px;
	}
	.banner-slick.banner-content.banner-content p {
		width: 60%;
	}
	a.dtbtn {
		margin-left: 15px;

	}
.payloan_menu > ul > li > a {
	font-size: 14px;
}
	.em-slick-slider-new .single-slide {
		height: calc(125vh - 100px);
		position: relative;
	}
	a.dtbtn {
		padding: 15px 21px;
		font-size: 13px;
	}
	.t_left.section-title h6 {
		font-size: 210px;
	}
	.blog-page-title > h2 {
		font-size: 20px;
	}
	.single-video h3 {
		font-size: 32px;
	}
	.payloan-blog-thumb_adn {
		float: none;
	}
	.payloan-blog-thumb_adn img {
		width: 100%;
	}
	.banner-content {
		width: 100%;
	}
    .em-slick-slider-new .banner-content {
    	left: 03%;
    }
	.payloan_menu.main-search-menu > ul, .em-quearys-top.msin-menu-search {
		display: inline-block;
		margin-right: 0;
	}
	.em-quearys-top.msin-menu-search .em-quearys-menu i {
		margin-left: 0;
	}
	.style-five .em_content_text {
	    padding: 0;
    }
	.em_content_text {
		padding: 0 44px 0 40px;
	}
    .default-style .em_content_text {
    	padding: 0;
    }
	.em-feature:hover .em_content_text {
		bottom: 26px;
	}

	.em_single_testimonial {
		margin-top: 40px;
	}
	.mailchim-form {
		padding-left: 26px !important;
		padding-right: 49px !important;
	}
	.single-video {
		margin-left: 0;
	}
	.single-video .layer-2 {
		top: -43% !important;
		left: 57% !important;
	}
	.single-video .layer-4 {
		/* top: 78% !important; */
		right: 11px;
	}
	.single-video .layer-3 {
		left: -7% !important;
	}
	.single-video .layer-1 {
		top: -30% !important;
		left: -59px !important;
	}
	.em-service-title h2 {
		font-size: 22px;
	}
    .em-service.service-style-two .em-service-title h2 {
    	font-size: 20px;
    }
	.about_choose_us {
		background: #2d2d2d;
		padding: 41px 40px 0px 50px !important;
	}
	.about_choose_us .section-title h2 {
		font-size: 35px;
	}
	.front h3,
	.back h3 {
		font-size: 20px !important;
	}
	.third_block {
		display: block !important;
	}
	.mailchim-form-inner {
		margin: auto !important;
	}
	.footer-middle .recent-post-text .rcomment {
		font-size: 12px;
	}
	.footer-middle .recent-post-text h4 a {
		font-size: 15px;
	}
	.footer-widget.address, .footer-widget.address p {
		font-size: 15px;
		color: #f4f6fe;
	}
	#team::before {
		right: inherit;
		z-index: -1;
		left: -10px;
		bottom: 0 !important;
		top: inherit;
	}
	.em-slick-slider-new .slick-prev,
	.em-slick-slider-new .slick-next {
		display: none !important;
	}
    .slider-style-four .slider-video-icon {
    	right: 13%;
    }
    .curosel-style .owl-nav .owl-prev {
    	left: 15px;
    }
    .curosel-style .owl-nav .owl-next {
    	right: 15px;
    }
	.payloan_menu > ul > li > a {
		margin: 30px 8px;
	}
	.em-quearys-menu i {
		margin-left: 5px !important;
		display: inline-block;
	}
    .case_default .em-cases-study-title h2 a {
    	font-size: 22px;
    }
	.effective-content p {
		width: 86%;
	}
	.em-feature.style-three {
		padding: 50px 15px;
	}
	.heading_title {
		font-size: 31px;
	}
    .donate-btn-header {
        margin-left: 5px;
    }
.home-new .slider-single-image img {
    display: none !important;
}
.service-box-thumb img {
    width: 100%;
}
}
/* ------------------------------------------------- Large Screen. ---------------------------------------------------*/
 @media (min-width: 992px) and (max-width: 1920px) {
	.em-nivo-slider-wrapper .nivo-controlNav {
		display: none;
	}
}
/* ------------------------------------------------- Tablet Screen : 768 ---------------------------------------------------*/
 @media (min-width: 840px) and (max-width: 850px) {
	.em_slider_inner {
		left: 0;
	}
}
 @media (min-width: 768px) and (max-width: 991px) {

	/* Slick Slider */
	.single-slick.style-four{
		min-height: 650px;
	}
	.dreamit-slick-slider .single-slick .slider-single-image{
		display: none;
	}
	
	/* Nivo Slider */
	.em-slider-sub-title {
		font-size: 85px !important;
	}
    .em-slider-descript {
    	width: 80% !important;
    }
	/* End Nivo Slider */
	
 	/* Work Process */
	.work_progress.style-three .work_progress-number::before{
		display: none;
	}
	/* End Work Process */
 
	/* Section Title */
	.section-title h3, .section-title h2 {
		font-size: 30px !important;
	}
	/* End Section Title */

	/* Call To Action */
	.call-to-action .call-to-action-title h2{
		width: 55% !important;
	}
	/* End Call To Action */
	.kc_accordion_header > a {
		font-size: 14px !important;
	}

    .banner-slider-content p {
    	width: 85%;
    	color: #d5c6c6;
    }
	.breadcumb-area {
		padding: 125px 0 143px;
	}
	.service_details .kc_col-sm-8{
		width: 60% !important;
	}
	.service_details .kc_col-sm-4{
		width: 40% !important;
	}
	.service_details .kc_tabs_nav > li > a, .service_details .nav-pills > li > a {
		padding: 0 10px;
	}
	.slider_circle_img.rotateme {
		right: -320px;
		top: 0;
	}
	.srv-dtl-inner .kc_col-sm-6 {
		width: 100% !important;
	}
	.author.mt-120 p {
    	font-size: 16px;
    	overflow: hidden;
    }
     .em-button-button-area a {
         margin-top: 20px;
    }
     .footer-top-inner p {
         width: 78%;
    }
    /* kc */
     .menu-height-space {
         height: 0;
    }
     .banner-content p {
         width: 85%;
    }
     .curosel-style .owl-nav div {
         left: 15px;
    }
     .curosel-style .owl-nav .owl-next {
         left: auto;
         right: 15px;
    }
     .style-three .em-call-to-action-desc,
     .em-call-to-action-desc {
         width: 75%;
    }
	.portfolio_nav ul li {
		padding: 14px 13px;
	}
	.banner-content h2,
	.banner-content h1 {
		font-size: 30px;
	}
    .mean-container .mean-bar::before {
         top: 15px;
    }
     .title_in_area {
         width: 100%;
    }
     .em-call-to-video h3 {
         margin-top: 10px;
         font-size: 18px;
    }
     .em-nivo-slider-wrapper:hover .nivo-directionNav a {
         left: 5px;
    }
     .em-nivo-slider-wrapper:hover .nivo-directionNav .nivo-nextNav {
         left: auto;
         right: 5px;
    }
    .section-title.t_center {
         width: 67%;
    }
	.em-content-image > img {
	  width: 100%;
	}
		
	.reponsive_full	.cfull.kc_col-sm-6{
		width:100% !important;
	}	
	.reponsive_full	.cfull .slick-slide img{
		width:100% !important;
	}	
	.message_full .kc_col-sm-6{
		width:100% !important;
	}		
	.feature-btn {
		margin-top: 30px;
	}
	.section-title.t_center {
		width: 89%;
	}	
	.banner-slick.banner-content.banner-content p {
		width: 74%;
	}
	.top-address.em-login.text-right {
		display: none;
	}	
	.em_slider_inner {
		left: 0;
	}
	.single-video-content p {
		width: 83%;
	}
	.em-nivo-slider-wrapper .nivo-controlNav {
		display: none;
	}
	.em-slick-slider-new {
		z-index: 0;
	}
	.footer-menu ul li a {
		margin-left: 13px;
	}
	.title_tx h2,
	.section-title h2 {
		font-size: 30px;
	}
	.section-title h5 {
		margin: 0 0 25px;
	}
	blockquote {
		padding: 121px 30px 50px 30px;
	}
	.post-text blockquote::before {
		left: 30px;
	}
	.comments-area .children {
		margin-left: 0px;
	}
	.blog-page-title > h2 {
		font-size: 24px;
	}
    .author.mt-120 {
    	padding: 40px 16px 35px;
    }
	.em-team-content-image img {
		width: 100%;
	}
.em-slick-slider-new .single-slide {
	height: 600px !important;
}

	.em-slick-slider-new .banner-content {
		left: 15px;
	}
	.payloan-blog-thumb_adn {
		float: none;
	}
	.payloan-blog-thumb_adn img {
		width: 100%;
	}
	.banner-area {
		height: 600px;
	}
	.banner-content {
		top: 30%;
		width:100%;
	}
	.payloan-header-top {
		display: none;
	}
	.meta_comments {
		display: none !important;
	}
	.slider_single_img {
		display: none;
	}
	.em-feature-thumb img {
		width: 100%;
	}
	.choose_us .kc_col-sm-6 {
		width: 100% !important;
	}
	.em_single_testimonial {
		margin-top: 40px;
	}
	.mailchim-form-inner {
		padding: 33px 100px 40px;
	}
	.mailchim-form {
		padding-left: 26px !important;
		padding-right: 49px !important;
	}
	.single-video {
		margin-left: 0;

	}
	.payloan_about2 .kc_col-sm-6 {
		width: 100% !important;
	}
	.single-video .layer-4 {
		top: 78% !important;
		right: -15px;
	}
	.single-video .layer-3 {
		top: 94% !important;
		left: 0% !important;
	}
	.single-video .layer-2 {
		top: -28% !important;
		left: 75% !important;
	}
	.single-video .layer-1 {
		top: -24% !important;
		left: 0px !important;
	}
	.nav-pills > li {
		margin-right: 12px;
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.20);
		        box-shadow: 0 0 3px rgba(0,0,0,0.20);
	}
	.tab_pan_content {
		padding-left: 0;
		padding-top: 40px;
	}
	.nav-pills > li > a {
		font-size: 14px !important;
	}
	.about_choose_us2.kc_col-sm-6,
	.about_choose_us.kc_col-sm-6 {
		width: 100% !important;
	}
	.single-video img {
		width: 100%;
	}
	.portfolio_details {
		padding: 40px 15px;
	}
	.portfolio_info {
		padding-left: 0px;
	}
	.recent-post-image {
		margin-right: 11px;
	}
	.mailchim-form-inner {
		margin: auto !important;
	}
	.em-slick-slider-new .slick-prev,
	.em-slick-slider-new .slick-next {
		display: none !important;
	}
	.single_protfolio:hover .prot_content {
		opacity: 1;
		bottom: 11px;
	}
	.prot_content {
		right: 7px;
		left: 7px;
	}
	.prot_content h3 a {
		font-size: 19px;
	}
	#team::before {
		display: none;
	}
	.recent-post-text h4 a {
		font-size: 15px;
		line-height: 14px;
	}
	.recent-post-text .rcomment {
		color: #616161;
		font-size: 13px;
	}
    .classic-it-service .kc_col-sm-7,
    .classic-it-service .kc_col-sm-5{
    	width: 100% !important;
    }
    .case_default .em-cases-study-content {
    	padding: 40px 10px;
    	top: 129%;
    }
    .case_default .em-cases-study-title h2 a {
    	font-size: 19px;
    }
	.effective-content p {
		width: 85%;
	}
	.heading_number {
		float: none;
		line-height: 1;
		margin-top: 0;
		margin-right: 0;
	}
	.heading_title {
		display: block;
	}
    .style-two.em_work_progress::after {
        display:none;
    }
.em-feature.style-five {
	background: #232323;
}
.em-slick-slider-new .slider-style-seven .banner-content {
	top: 50%;
}
.slider-style-seven .slider-video-icon {
	top: 50%;
	right: 10%;
}
.image_background_circle_gray::after {
	display: none;
}
.odoo-consult-form .kc_col-sm-8 {
    width: 50% !important;
}
.elementor-4038 .elementor-element.elementor-element-9f4d22a {
    width: 100% !important;
}
 .dreamit-slick-slider .single-slick {
    min-height: 600px !important;
}
	.years-of-experience.style-two {
		right: 36px !important;
	}	
	.feature-box.style-seven .feature-box-title h2 {
		font-size: 19px !important;
	}
	.countr_text  h3,
	.countr_text  h1 {
		font-size: 40px !important;
	}
	.counter_title h4 {
		text-transform: capitalize;
		font-size: 18px !important;
	}
	.title_in {
		float: none !important;
		padding-right: 0 !important;
		margin-right: 0 !important;
		margin-bottom: 24px !important;
	}
.service-box-thumb img {
    width: 100%;
}
 }
/* ------------------------------------------------- Small Mobile : 320 ---------------------------------------------------*/
 @media (max-width: 767px) {
	
	/* Slick Slider */
	.dreamit-slick-slider .single-slick{
		min-height: 550px;
	}
	.dreamit-slick-slider .single-slick .hero-text-wrap{
		margin-top: 60px;
		text-align: center;
	}
	.dreamit-slick-slider .hero-text-wrap h4{
		margin-top: 60px !important;
	}
	.dreamit-slick-slider .single-slick .hero-text-wrap h1{
		font-size: 30px !important;
	}
	.dreamit-slick-slider .single-slick .hero-text-wrap .slider-video-icon{
		position: absolute;
    	right: 42%;
    	top: 10%;
	}
	.dreamit-slick-slider .single-slick .hero-text-wrap .button-two{
		margin-top: 20px;
		display: none;
	}
	.dreamit-slick-slider .slick-prev,
	.dreamit-slick-slider .slick-next {
		display: none !important;
	}
	.dreamit-slick-slider .hero-text-wrap p {
		width: 100% !important;
	}
	.dreamit-slick-slider .single-slick .slider-single-image{
		display: none;
	}
	/* Style five */
	.dreamit-slick-slider .single-slick.style-five .hero-text-wrap .slider-video-icon{
		display: none;
	}
	.dreamit-slick-slider .single-slick.style-five .hero-text-wrap {
    	margin-top: 0px;
    }
	/* End Slick Slider */

	/* Nivo Slider */
	.em-slider-sub-title {
		font-size: 50px !important;
	}
	.em-slider-title {
		font-size: 21px !important;
	}
	/* End Nivo Slider */

	/* Work Process */
	.work_progress.style-three .work_progress-number::before{
		display: none;
	}
	
	/* Tab */
	.tab .nav-tabs li{
	    width: 100%;
	}
	
	 .em-feature.style-five .em_content_text {
		padding: 0;
	}
    .image_background_circle_gray::after {
    	display:none;
    }
    .banner-slider-content {
    	text-align: center;
    }
    .classic-it-service .kc_col-sm-7,
    .classic-it-service .kc_col-sm-5{
    	width: 100% !important;
    }
    .banner-slider-content h1, .banner-slider-content h2 {
    	color: #fff;
    	font-size: 30px;
    }
    .banner-slider-content p {
    	color: #fff;
    	width: 77%;
    margin: 20px auto 32px;
    }
    .em_work_progress-number::before {
    	display: none;
    }
     .em-slider-button {
         display: none;
    }
     .section-title.t_center {
         width: 100%;
    }
     .section-title.t_right {
         width: 100%;
    }
    .about_shape img{
    	display: none !important;
    }

	.em-nivo-slider-wrapper .nivo-controlNav {
		bottom: 8px;
	}
    .slider-style-four .slider-video-icon {
    	right: 42%;
    	top: 10%;
    }
	
    /* top bar */
     .top-address {
         text-align: center;
    }
     .social-icons.text-right {
         text-align: center;
    }
    /* footer bar */
     .footer-top-inner p {
         width: 100%;
    }
     .footer-menu ul {
         margin: 10px 0 0;
         text-align: center;
    }
     .copy-right-text p {
         text-align: center;
    }
     .breadcumb-blog-area {
         padding: 30px 0 50px;
    }
	
    /* blog css */
	.em-blog-content-area_adn {
		padding: 25px 15px 25px !important;
	}
.payloan-blog-meta-left a, .payloan-blog-meta-left span {
    margin-right: 17px;
    font-size: 16px;
}
.flip-box .flip-box-inner .back-part .back-content-part .back-desc-part .back-desc,
.flip-box .flip-box-inner .front-part .front-content-part .front-desc-part .front-desc {
    font-size: 17px;
}
    /* single blog */
	
     .post_reply ul, .blog-content ul, .single-blog-content ul {
         padding-left: 20px;
    }
     .post_reply ol, .blog-content ol, .single-blog-content ol {
         padding-left: 20px;
    }
     .comments-area .children {
         margin-left: 10px;
    }
     .pdsr {
         padding-top: 50px;
    }
     .pdsl {
         padding-bottom: 90px;
    }
     #wp-calendar {
         display: block;
    }
    /* footer css */
     .payloan-blog-thumb_adn > a img {
         width: 100%;
    }
     .em-content-image > img {
         width: 100%;
    }
     .kc_video_play.kc_video_wrapper {
         overflow: scroll;
    }
     .form-address-item {
         width: 100%;
         margin-bottom:30px;
    }
     .footer-social-icon a i {
         font-size: 16px;
         height: 35px;
         line-height: 35px;
         width: 35px;
    }
	.portfolio_nav ul li {
		letter-spacing: 0;
		display: block;
	}
     .menu-height-space {
         height: 0;
    }
     .testimonial_list {
         width: 100%;
    }
    /* without carousel */
     .curosel-style .owl-nav div {
         left:0px;
    }
     .curosel-style .owl-nav .owl-next {
         left: auto;
         right: 0;
    }
     .em-feature-content-image img {
         width: 100%;
    }
     .em-call-to-action-desc {
         width: 78%;
    }
	.call-to-action-title h2 {
		font-size: 18px;
	}
	/* Call To Action */
	.call-to-action .call-to-action-title h2{
		font-size: 30px !important;
		width: 90% !important;
	}
	.call-to-action.style-two .call-to-video{
		display: none;
	}
	/* End Call To Action */
	.em-call-to-action2 .em-call-to-action-desc {
	  width: 100%;
	}	
	.single-video h3 {
		font-size: 16px;
		padding-top: 0;
		display: none;
	}
     .single_header_address.ctrp {
         padding-bottom: 40px;
    }
    /* title */
    .section-title h2, .section-title h3{
         font-size: 28px !important;
    }
     .title_in_area {
         width: 100%;
    }
     .title_in {
         float: none;
    }
	.title_tx h2 {
	font-size: 28px;
	margin-bottom: 20px;
	}
    .mean-container .mean-bar::before {
         text-transform: uppercase;
         top: 15px;
    }
    .call-to-video {
         display: none;
    }
	.style-three .em-call-to-action-title span,
	.em-call-to-action-title span {
		width: 90%;
		font-size: 30px;
	}
    .style-three .em-call-to-action-title h2 {
    	font-size: 30px;
    }
     .style-three .em-call-to-action-desc,
     .em-call-to-action-desc {
         width: 100%;
    }
	.em_content_text {
		bottom: -54px;
        padding: 0 25px 0 25px;
	}
	.em-feature-title h2 {
		margin: 7px 0 15px;
	}
	.em-feature:hover .em_content_text {

		bottom: 25px;

	}
	.em-nivo-slider-wrapper .nivo-directionNav {
		display: none;
	}
     .curosel-style .owl-nav div {
         
    }
     .em_slider_inner.container.text-right, .em_slider_inner.container.text-center, .em_slider_inner.container.text-left {
         text-align: center;
    }
     .footer-middle .widget h2{
         margin-top: 10px;
    }
	.footer-middle {
		padding: 70px 0 36px;
	}
     .pr-title {
         margin-bottom: 15px;
    }
	.page-numbers li {
		margin-bottom: 15px;
	}
	.banner-content p {
		width: 98%;
	}
	.banner-slick.banner-content.banner-content p {
		width: 85%;
		text-align: center;
		margin: auto;
	}
	.banner-area .btn {
		padding: 22px 27px;
		font-size: 14px;
	}
	.b-batton.active {
		display: none;
	}
	.banner-content {
		top: 22%;
		width: 100%;
	}
	.em_slider_inner {
		left: 0;
	}
	.kc_tabs_nav, .nav-pills {
		border-bottom: 0;
		padding-top: 29px !important;
	}
	
	/* Post Tab */
	.nav-pills > li {
		float: none !important;
		display: block !important;
		line-height: 0;
		width: 100% !important;
	}
	/* End Post Tab */
	.nav-pills li i {
		padding-top: 12px;
	}
	.nav-pills > li + li {
		margin-left: 0;
	}
	.tab_pan_content {
		padding-left: 0;
		padding-top: 30px;
	}
	a.active-tab-btn {
		display: none;
	}
    .em-slick-slider-new .banner-content {
    	left: 0;
    	/* transform: translateY(-50%) translateX(-50%); */
    	text-align: center !important;
    	right: 0;
    }
	.em_testi_text {
		width: 90%;
	}
	.single-video-content h4 {
		letter-spacing: 2px;
	}
	.single-video-content p {
		width: 93%;
	}
	.em-nivo-slider-wrapper .nivo-controlNav {
		display: none;
	}
	.em-slick-slider-new {
		z-index: 0;
	}
	.testimonial_list.curosel-style .owl-nav .owl-prev {
		display:none;
	}
	.testimonial_list.curosel-style .owl-nav .owl-next {
		display:none;
	}
	.em-slick-slider-new .single-slide {
		height: calc(90vh - 100px);
		position: relative;
	}
	.post-text blockquote::before {
		left: 30px;
	}
	.comments-area .children {
		margin-left: 0px;
	}
	.payloan-single-icon-inner a {
		font-size: 14px;
		height: 30px;
		line-height: 30px;
		margin: 0 3px;
		width: 30px;
	}
	.post_replay_inner {
		display: block;
	}
	.post_reply_thumb {
		margin-bottom: 15px;
	}
	.comment-respond {
		padding: 23px 6px 40px;
	}
	.payloan_btn {
		padding: 8px 18px;
	}
	.textwidget-icon.social-profile li a {
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
	.payloan-blog-thumb img {
		width: 100%;
	}
	.author.mt-120 {
    	padding: 40px 15px 35px;
    }

	.paginations a, .page-numbers span.current {
		width: 38px;
		height: 38px;
		line-height: 38px;
		font-size: 15px;
		margin: auto 3px;
	}
	.footer-menu .social-icon {
		width: 45px;
		height: 45px;
		line-height: 45px;
	}
	.em-service2.smiddle {
		text-align:center;
	}
	.countr_text > h1 {
		font-size: 40px;
		padding-bottom: 0;
	}
	.countr_text > h3 {
		font-size: 40px;
	}
	.banner-slick.banner-content h3,
	.banner-slick.banner-content h2,
	.banner-slick.banner-content h1 {
		font-size: 30px;
	}
	.banner-content.banner-slick.text-center h4 {
		font-size: 15px;
	}
    .em-slick-slider-new .single-slide {
    	height: 500px !important;
    	position: relative;
    }
	.banner-content h2 {
		font-size: 20px;
	}
	.banner-area {
		height: 715px;
	}
	.banner-area.em-slick-slider-new {
		height: auto;
	}
	.em-service2.sright .em-service-icon {
		float: none;
		margin: 0;
	}
    .blog-left-side {
    	margin-top: 30px;
    }
	.em_feature_img {
		float: none;
		overflow: hidden;
		margin-right: 0;
	}
	.payloan-single-blog-details-inner {
		padding: 40px 30px;
	}
	.banner-slick.banner-content h4 {
		font-size: 18px;
		margin-bottom: 23px;
	}

	.breadcrumb_tran_header .breadcumb-area {
		padding: 121px 0 110px;
	}
	.author-img.text-center {
		float: left;
		margin-right: 0;
		float: none;
		margin-bottom: 20px;
	}
	.author-text {
		padding-top: 20px;
		text-align: center;
	}
	.copyright-social {
		text-align: center;
		padding-top: 10px;
	}

	.slider_single_img {
		display: none;
	}
	#team::before {
		display: none;
	}
	.em_single_testimonial {
		margin-top: 40px;
	}
	.mailchim-form-inner {
		padding: 33px 15px 40px;
	}
	.mailchim-form-inner .widgettitle {
		font-size: 23px;
	}
	.mc4wp-form-fields button {
		background: #fff;
		color: #5451c1;
		padding: 12px 43px;
		position: inherit;
		right: inherit;
		top: inherit;
		height: inherit;
		display: inline-block;
		-webkit-transform: inherit;
		    -ms-transform: inherit;
		        transform: inherit;
		margin-top: 20px;
	}
	.slick-style-two .banner-slick .b-batton {
		float: none;
	}
	.slider-video-icon {
		display: none;
	}
	.single-video {
		margin-left: 0;

	}
	.single-video .layer-1,
	.single-video .layer-2,
	.single-video .layer-3,
	.single-video .layer-4 {
		display: none;
	}
	.em-service-thumb {
		float: none;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.price_item span {
		font-size: 43px;
	}
	.portfolio_details {
		padding: 40px 15px;
	}
	.portfolio_info {
		padding-left: 0px;
	}
	.em-blog-content-area {
		padding: 28px 30px 30px;
	}
	.meta_comments {
		display: none !important;
	}
	.payloan-single-icon-inner a i {
		font-size: 13px;
		height: 30px;
		line-height: 28px;
		margin: 0 0px 0 0;
		width: 30px;
	}
	.footer-middle {
		padding: 80px 0 29px;
	}
    .footer-menu .text-right {
        text-align: center !important;
    }
    .curosel-style .owl-nav div {
    	display: none;
    }
    .prot_content h3 a {
    	font-size: 18px;
    }
    .single_protfolio:hover .prot_content {
    	bottom: 11px;
    }
.kc_accordion_header > a {
	font-size: 15px !important;
}
.brpt h2 {
	font-size: 31px;
	margin-bottom: 13px;
}
.kc-call-to-action .kc-cta-button a {
	float: left !important;
}
.kc-cta-3 .kc-cta-button {
    width: 100% !important;
    display: block !important;
}
.kc-cta-3.kc-is-button .kc-cta-desc {
    width: 100% !important;
    display: block !important;
}
.feature-style-two .em-feature-title h2 {
    font-size: 17px;
}
.effective-content p {
    width: 85% !important;
}
.effective-content h2 {
	font-size: 40px !important;
}
.effective_slider_btn a {
	margin: 0 9px 20px !important;
}
.em-feature.style-three {
	padding: 50px 25px;
}
.heading_number {
    float: none;
    line-height: 1;
    margin-top: 0;
    margin-right: 0;
}
.heading_title {
	display: block;
}
.style-two.em_work_progress::after {
	display:none;
}

/* Counter Section */
.single_counter .counter_icon {
	float: none;
	margin-right: 0;
	margin-bottom: 20px;
}
.single_counter .single_counter_inner{
    text-align: center;
}
/* End Counter Section */


.breadcumb-inner h2 {
	font-size: 30px;
}
.em-feature.style-five {
	background: #232323;
}

.elementor-4038 .elementor-element.elementor-element-9f4d22a {
    width: 100% !important;
}
 .dreamit-slick-slider .single-slick {
    min-height: 600px !important;
}
.hero-section .text-area .title h2 {
    font-size: 30px !important;
}
.section-title p {
    width: 90% !important;
}
.testimonial-style-two .testi_text {
    font-size: 17px !important;
}
.testimonial-style-two .single_testimonial {
    padding: 0 !important;
}
.years-of-experience.style-two {
    position: inherit;
    width: 100% !important;
}
.service-box-thumb img {
    width: 100%;
}
.blog-page-title_adn h2 {
    font-size: 21px;
}
.style-one .payloan-single-blog_adn {
    text-align: center;
}
}


/* ------------------------------------------------- Large Mobile :480px. ---------------------------------------------------*/
 @media only screen and (min-width: 480px) and (max-width: 767px) {
    .em-slider-button {
    	display: block;
    	margin-top: 24px;
    }
    .single_protfolio:hover .prot_content {
    	bottom: 11px;
    }
    .banner-slider-content h1, .banner-slider-content h2 {
    	color: #fff;
    	font-size: 38px;
    }
	a.active-tab-btn {
		display:inline-block;
	}
.hero-section .text-area .title h2 {
    font-size: 35px !important;
}
.em-button-button-area a {
	padding: 10px 18px;
	font-size: 12px;
	margin: 0 5px !important;
}
     .banner-content p {
         width: 92%;
    }
     .single-video h3 {
         font-size: 22px;
    }
     .brand_logo .kc_col-sm-2{
         width:50% !important;
    }
     .copy-right-text p {
         font-size: 14px;
    }
    .em-slider-sub-title {
    	font-size: 54px;
    }
	.em-team-content-image img {
		width: 100%;
	}
	.countr_text > h1 {
		font-size: 40px;
		padding-bottom: 0;
	}
	.countr_text > h3 {
		font-size: 40px;
	}
	.banner-slick.banner-content h3,
	.banner-slick.banner-content h2,
	.banner-slick.banner-content h1 {
		font-size: 45px;
	}
	.banner-content.banner-slick.text-center h4 {
		font-size: 20px;
	}
.service-box-thumb img {
    width: 100%;
}
}
 @media only screen and (min-width: 600px) and (max-width: 767px) {

     .payloan-blog-meta-left_adn a, .payloan-blog-meta-left_adn span {
         font-size: 12px;
    }
}

/* retina query */
@media only screen and (-webkit-min-device-pixel-ratio:2) and (max-width:991.98px),only screen and (-o-min-device-pixel-ratio:2/1) and (max-width:991.98px),only screen and (min-device-pixel-ratio:2) and (max-width:991.98px),only screen and (min-resolution:192dpi) and (max-width:991.98px),only screen and (min-resolution:2dppx) and (max-width:991.98px){

.logo a.standard-logo{
  display: none;
}
.logo a.retina-logo{
  display: inline-block;
}


}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2/1),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx){
.logo a.standard-logo{
  display: none;
}
.logo a.retina-logo{
  display: inline-block;
}
 @media only screen and (min-width: 320px) and (max-width: 420px) {

     .payloan-blog-meta-left_adn a, .payloan-blog-meta-left_adn span {
         font-size: 12px;
    }
    .testimonial-style-three .testi_content {
    padding: 37px 12px 0!important;
}
.service-box-thumb img {
    width: 100%;
}
}




}
 