@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px !important;
}

.min-h-190 {
  min-height: 190px !important;
}

@media only screen and (min-width: 600px) {
  /*for screen greater than 600px*/
  .min-h-190 {
    height: 190px !important;
  }
}
